@import './variables.scss';

@mixin title-h1 {
  font-family: $font-main;
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.02em;
}

@mixin title-h3 {
  font-family: $font-main;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.02em;
}

@mixin subtitle {
  font-family: $font-main;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
}

@mixin body-text {
  font-family: $font-main;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
}

@mixin body-text-grow {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

@mixin tab-text {
  font-family: $font-main;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.02em;
}

@mixin container {
  width: 1760px;
  min-width: 1760px;
  max-width: 1760px;
  margin: 0 auto;
}

@mixin app-container {
  width: 1920px;
  max-width: 1920px;
  height: 1080px;
  max-height: 1080px;
  margin: 0 auto;
}

@mixin reset-button-style {
  border: none;
  background: transparent;
}

@mixin fill-svg-and-path($color, $transition-duration: 200ms) {
	transition: all $transition-duration;
	fill: $color;

	path {
			transition: all $transition-duration;
			fill: inherit;
	}
}